@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nosifer&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
body{
    background: #F5F5F5;
}
.container{
    margin: 0 184px;
}
.header{
    box-shadow: 0px 1px 2px -1px gray;
    background-color: white;
    width: 1440px;
    margin: 0 auto;
}
.nav, .form-nav{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang{
    color: #F0400F;
    display: flex;
    align-items: center;
    gap: 14px;
}
.section-content{
    margin: 0 auto; 
}
.form{
    box-shadow: 0px 0px 1px .2px gray;
    background-color: white;
    border-radius: 50px;
    width: 650px;
    height: 786px;
    margin: 46px 395px;
}
.form2{
    padding: 0 53px 0 64px;
}
.form-nav1{
    margin: 0 auto;
    padding: 66px 0 0 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-logo{
    width: 150px;
    height: 40px;
}
.form-nav2{
    padding: 131px 0 0 0;
}

.h1-form{
    margin: 0 0 10px 0;
    color: #0E0D5D;
    font-weight: 700;
    font-size: 48px;
}

.royxat{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 11px;
    align-items: center;
    width: 533px;
    height: 70px;
    background-color: #F5F5F5;
}
.oquv{
    width: 255px;
    height: 54px;
    background-color: white;
}
.oquv1{
    margin: 9px 0 0 40px;
    font-weight: 600;
    font-size: 28px;
}
.ota{
    width: 255px;
    height: 54px;
    border-radius: 15px;
    background-color: #F5F5F5;
}
.ota1{
    color: #757575;
    margin: 9px 0 0 40px;
    font-weight: 600;
    font-size: 28px;
}
input{
    font-weight: 500;
    font-size: 24px;
    margin: 39px 0 0 0;
    display: block;
    width: 533px;
    height: 70px;
}
.QR{
    opacity: 64%;
    font-weight: 500;
    font-size: 24px;
    margin: 18px 190px 0 213px;
}
.RQ{
    margin: 31px 58px 0 390px;
    width: 202px;
    height: 67px;
    background-color: #F69E86;
    border-radius: 20px;
    color: white;
    border: none;
}
